.text-now{
  color: #012f84;
}
.text-pink{
  color: #ec4392;
}
.bg-now{
  background-color: #012f84;
}
.bg-pink{
  background-color:  rgb(236, 67, 146);
}
.bg-rose{
  background-color: rgb(236, 67, 146);
  background-color: rgba(84, 84, 84, 0.077);
}

.space-5{
  height: 5px;
  width: 100%;
}
.space-10{
  height: 10px;
  width: 100%;
}
.space-20{
  height: 20px;
  width: 100%;
}
.space-50{
  height: 50px;
  width: 100%;
}
.space-100{
  height: 100px;
  width: 100%;
}