.text-now{
  color: #012f84;
}
.bg-now{
  background-color: #012f84;
}
.bg-rose{
  background-color: #ec4392;
}

.space-10{
  height: 10px;
  width: 100%;
}
.space-20{
  height: 20px;
  width: 100%;
}
.space-50{
  height: 50px;
  width: 100%;
}
.space-100{
  height: 100px;
  width: 100%;
}